---
---

@import "minima";

p, span, ul, ol {
  line-height: 30px;
}

a {
  color: lighten($text-color, 25%);
  text-decoration: underline;

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  &:visited {
    color: lighten($text-color, 25%);

    &:hover {
      color: $text-color;
    }
  }

  &.post-link, &.site-title, &.page-link, &.next, &.previous {
    text-decoration: none;
  }
}

hr {
  margin: 20px auto;
  border: 1px dashed;
  width: 25%;
}

.site-header {
  border-top: none;
}

.site-title {
  color: $text-color;
}

.pagination {
  .next {
    float: right;
  }
}
